fastapi
uvicorn[standard]
pydantic
python-multipart

langchain-core
langchain-community
langchain-openai
langchain_groq
langchain-huggingface
crewai
crewai-tools
accelerate
pymupdf4llm
python-dotenv
requests
litellm

httpx==0.28.1
langtrace-python-sdk
sentence-transformers
setuptools<70.0.0
uvicorn